/*
#091726
#a42f3f
#d85e3c
#91aa5f
*/

body {
    background-color: #091726; /* Light cream color */
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.header {

    background-color: bisque;
    background-image: url('headerBackground.jpg'); 
    background-size: cover; 
    color: rgb(242, 223, 162); 
    font-size: 2rem;
    text-align: center;
    min-height: 50vh;
    max-height: 70vh;
    padding: 20px;
    transition-delay: 2s;
}

.headerMenuBar{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 10vh;
}

h1{
    font-weight: lighter;
    font-size: 4rem;
}

.bodyContainer {
    padding: 20px;
    background-color:#d85e3c ;
    display:  flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.bodyList{
    text-align: center;
    border: 5px;
    align-items: center;
}

.aboutUs{
    max-width: 90vw;
    border: #333;
    border-radius: 0.5vh;
    border-width: 10px;
}

.footerTop {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.footerTop ul {
    list-style-type: none; 
    padding: 0;
}

.footerTop li {
    display: inline; 
    margin: 0 10px; 
}

.footerTop a {
    color: white; 
    text-decoration: none; 
}

.footerTop a:hover {
    text-decoration: underline; 
    background-color: azure;
}

.footerBottom {
    background-color: black;
    COLOR: white;
    text-align: center;
    padding: 10px
}